<!doctype html>
<html lang="en">
<head>
  <title>Ma voix, ma ville 2020</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,700,900&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/jquery-ui.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">

  <link rel="stylesheet" href="css/jquery.fancybox.min.css">

  <link rel="stylesheet" href="css/bootstrap-datepicker.css">

  <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
  <link rel="stylesheet" href="fonts/icomoon/style.css">

  <link rel="stylesheet" href="css/aos.css">

  <link rel="stylesheet" href="css/magnific-popup.css">

  <link rel="stylesheet" href="css/style.css">


  <!-- Remember to include jQuery :) -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

  <script src="https://use.fontawesome.com/e106d16129.js"></script>

  <!-- Magnific Popup core JS file -->
  <script src="magnific-popup/jquery.magnific-popup.js"></script>

  <!-- jQuery 1.7.2+ or Zepto.js 1.0+ -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <!-- jQuery Modal -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">





<div class="site-wrap">

  <div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
      <div class="site-mobile-menu-close mt-3">
        <span class="icon-close2 js-menu-toggle"></span>
      </div>
    </div>
    <div class="site-mobile-menu-body"></div>
  </div>


  <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

    <div class="container">
      <div class="row align-items-center">

        <div class="col-6 col-xl-2">
          <h1 class="mb-0 site-logo"><a href="index.html" class="mb-0"><img src="images/logo1.svg"></a></h1>
        </div>

        <div class="col-12 col-md-10 d-none d-xl-block">
          <nav class="site-navigation position-relative text-right" role="navigation">
            <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
              <li><a href="#home-section" class="nav-link">Accueil</a></li>
              <li><a href="#calender-section" class="nav-link">Dates clés</a></li>
              <li class="has-children">
                <a href="#about-section" class="nav-link">Qui sommes nous</a>
                <ul class="dropdown">
                  <li><a href="#about-section" class="nav-link">Sori Dembélé</a></li>
                  <li><a href="#team-section" class="nav-link">L'équipe</a></li>
                  <li><a href="#soutien-section" class="nav-link">Soutiens</a></li>
                </ul>
              </li>
              <li><a href="#program-section" class="nav-link">Thématiques</a></li>
              <li><a href="#portfolio-section" class="nav-link">Galerie</a></li>
              <li><a href="#contact-section" class="nav-link">Nous contacter</a></li>
            </ul>
          </nav>
        </div>


        <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle float-right"><span class="icon-menu h3"></span></a></div>

      </div>
    </div>

    <style type="text/css">
    
      .history-tl-container{
        width:60%;
        margin:0 auto;
        display:block;
        position:relative;
      }
      .history-tl-container ul.tl{
        margin:20px 0;
        padding:0;
        display:inline-block;
      }
      .history-tl-container ul.tl li{
        list-style: none;
        margin:auto;
        margin-left:200px;
        min-height:50px;
        /*background: rgba(255,255,0,0.1);*/
        border-left:1px dashed #86D6FF;
        padding:0 0 50px 30px;
        position:relative;
      }
      .history-tl-container ul.tl li:last-child{ border-left:0;}
      .history-tl-container ul.tl li::before{
        position: absolute;
        left: -18px;
        top: -5px;
        content: " ";
        border: 8px solid rgba(255, 255, 255, 0.74);
        border-radius: 500%;
        background: #258CC7;
        height: 20px;
        width: 20px;
        transition: all 500ms ease-in-out;

      }
      .history-tl-container ul.tl li:hover::before{
        border-color:  #258CC7;
        transition: all 1000ms ease-in-out;
      }
      ul.tl li .item-title{
        color: black;
        font-size: 25px;
        font-weight: 600;

      }
      ul.tl li .item-detail{
        color:#9FBD3C;
        font-size:16px !important;
        font-weight: 700!important;
      }
      ul.tl li .timestamp{
        color: #0F6E5E;
        position: absolute;
        width:100px;
        left: -50%;
        text-align: right;
        font-size: 13px;
        font-weight: 700;
      }
    </style>

  </header>


  <div class="site-blocks-cover" style="background-image: url(images/banniere.jpg);" data-aos="fade" id="home-section">

    <div class="container">
      <div class="row align-items-center justify-content-center">


        <div class="col-md-8 mt-lg-5 text-center">
          <h1 class="text-uppercase mb-5" data-aos="fade-up"></h1>



          <div data-aos="fade-up" data-aos-delay="100">
            <!--
            Alternative markup with data-mfp-src attribute:
            <a href="mobile-friendly-page.html" data-mfp-src="#test-popup" class="open-popup-link">Show inline popup</a>
            -->

            <!-- Popup itself -->
            <div id="test-popup" class="white-popup mfp-hide">
              <p align="justify" class="text-black">
                Mesdames, Messieurs,<br><br>
                Je vous souhaite la bienvenue sur mon site de campagne pour les élections municipales qui auront lieu les 15 et 22 mars 2020.<br><br>
                Je suis la tête de liste du mouvement « Ma voix, Ma ville Ensemble pour Villiers-Le-Bel ». J’ai souhaité mettre en place cet espace de partage et d’échange avec tous. Ce support permettra de construire ensemble un projet politique ambitieux, juste et réaliste de notre vie quotidienne. Suivre, échanger, participer et donner votre avis pour construire de nouvelles politiques publiques sont des actions que je vous demande pour le projet commun pour notre ville.
                <br><br>

                J’ai recruté à mes côtés une nouvelle équipe municipale de grande qualité à partir des compétences et des richesses humaines, disponible et disposée à s’engager sur les sujets importants de notre ville.
                <br><br>

                La qualité du cadre de vie de chacune et chacun quelques soit la situation économique et sociale sera un enjeu important tout en préservant notre paysage rural. Il nous faut plus que jamais attirer les investisseurs multinationaux et travailler à ancrer le développement économique sur le territoire. C’est aussi de réaliser des projets de prestige tout en relevant le défi de l’indispensable transition écologique. Les transports, la politique jeunesse, l’emploi, la politique de sécurité et les services publics seront renforcés. Je n’omets pas la question de la propreté de la ville ainsi que le traitement de la place de la voiture.
                <br><br>
                Villiers-Le-Bel doit être une ville bienveillante à l’égard des personnes handicapées et des retraités.
                <br><br>
                Enfin, il est nécessaire que vous soyez écoutés, que l’engagement public se fasse autrement, que l’initiative citoyenne soit au cœur de tout et que le pari de l’intelligence collective reste au service de l’action et de la démocratie. Je vais redéfinir le rôle et la relation des élus avec vous y compris en intégrant la possibilité de révoquer.
                <br><br>
                Je vous remercie et sachez que vous pouvez compter sur mon engagement total.
                <br><br>
                Sori DEMBÉLÉ
              </p>
            </div>



            <br/><br/>



            <!--<a href="#contact-section" class="btn smoothscroll btn-primary mr-2 mb-2">Rejoignez nous</a>-->
            <a href="#test-popup" class="btn btn-primary mr-2 mb-2 open-popup-link">Message de Sori Dembele</a>
          </div>
        </div>

      </div>
    </div>

    <a href="#about-section" class="mouse smoothscroll">
        <span class="mouse-icon">
          <span class="mouse-wheel"></span>
        </span>
    </a>
  </div>

  <section class="site-section border-bottom bg-light" id="timer-countdown" style="padding-bottom: 0;">
    <div class="container">
      <div class="row mb-5">
        <div class="col-12 text-center" data-aos="fade">
          <h2 class="section-title mb-3" style="color: #000;">1er tour des elections municipales</h2>
          <div id="date-countdown">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="site-section border-bottom" id="calender-section">
    <div class="container">
      <div class="row mb-3">
        <div class="col-12 text-center" data-aos="fade">
          <h2 class="section-title mb-3" style="color: #000;">Dates des réunions publiques</h2>
        </div>
      </div>


      <div class="history-tl-container">
        <ul class="tl">
          <li class="tl-item" ng-repeat="item in retailer_history">
            <div class="timestamp">
              20 janvier 2020<br> 20:00 - 22:30
            </div>
            <div class="item-title">Education, Jeunesse-Sports</div>
            <div class="item-detail my-1"><i class="fa fa-map-marker" aria-hidden="true"></i> Maison de quartier Camille Claudel</div>
          </li>
          <li class="tl-item" ng-repeat="item in retailer_history">
            <div class="timestamp">
              21 janvier 2020<br> 20:00 - 22:30
            </div>
            <div class="item-title">Proximité, sécurité et vie associative</div>
            <div class="item-detail my-1"><i class="fa fa-map-marker" aria-hidden="true"></i> Maison Jaques Brel, Charmettes</div>
          </li>
          <li class="tl-item" ng-repeat="item in retailer_history">
            <div class="timestamp">
              22 janvier 2020<br> 20:00 - 22:30
            </div>
            <div class="item-title">Cadre de vie Ecologique, environnement et developpement durable</div>
            <div class="item-detail my-1"><i class="fa fa-map-marker" aria-hidden="true"></i> Chanzy</div>
          </li>
          <li class="tl-item" ng-repeat="item in retailer_history">
            <div class="timestamp">
              23 janvier 2020<br> 20:00 - 22:30
            </div>
            <div class="item-title">Logement-Habitat, Transports, Cultures</div>
            <div class="item-detail my-1"><i class="fa fa-map-marker" aria-hidden="true"></i> Maison de quartier Boris Vian</div>
          </li>
          <li class="tl-item" ng-repeat="item in retailer_history">
            <div class="timestamp">
              24 janvier 2020<br> 20:00 - 22:30
            </div>
            <div class="item-title">Affaires sociales, formation et insertions</div>
            <div class="item-detail my-1"><i class="fa fa-map-marker" aria-hidden="true"></i> Ecole Ferdinand Buisson</div>
          </li>
        </ul>

      </div>

    </div>



  </section>





  <div class="site-section cta-big-image border-bottom" id="about-section" style="padding-bottom: 0;">
    <div class="container">
      <div class="row mb-5">
        <div class="col-12 text-center" data-aos="fade">
          <h2 class="section-title mb-3" style="color: #000;">Qui sommes nous ?</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">

          <img src="images/sori.jpg" alt="Image" class="img-fluid">
          <p class="my-2"><a class="popup-youtube" href="https://www.youtube.com/watch?v=AmYjmMFXya0"><i class="fa fa-video-camera" aria-hidden="true"></i> La vidéo du candidat</a></p>

        </div>
        <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
          <div class="mb-4">
            <h3 class="h3 mb-4 text-black text-center" style="font-weight: 500;">Qui est Sori Dembélé ?</h3>
            <p align="justify">
              Je m’appelle Sori DEMBÉLÉ. J’ai 48 ans, marié et père de 2 enfants. Je suis enseignant. J’habite Villiers-Le-Bel depuis 1986. De nature réservé, je suis le troisième enfant d’une fratrie de six enfants.
              <br><br>
              Mon adolescence a été remplie par l’école et le football comme activité physique. J’ai été joueur, éducateur et entraineur de football à Villiers-Le-Bel.
              <br><br>
              Mon engagement associatif et public a commencé par mon adhésion au parti socialiste. Ce positionnement m’a conduit à être élu en 2014 sur la liste de M. Jean-Louis Marsac. J’ai été adjoint au maire à l’éducation. Je me suis engagé avec détermination et conviction dans la vision politique éducative de la commune pendant plus de 4 ans.
              <br>
              J’ai démissionné en septembre 2018 suite à une vision politique qui ne répondait à ce à quoi je crois. Je veux le meilleur et la réussite de nos enfants. Je veux rendre aux générations futures ce que l’école de la République m’a donné
            </p>
          </div>



          <!--<div class="mb-4">
            <ul class="list-unstyled ul-check success">
              <li>Officia quaerat eaque neque</li>
              <li>Possimus aut consequuntur incidunt</li>
              <li>Lorem ipsum dolor sit amet</li>
              <li>Consectetur adipisicing elit</li>
            </ul>

          </div>

          <p><a href="#contact-section" class="smoothscroll btn btn-primary">Get In Touch</a></p>-->



        </div>
      </div>
    </div>
  </div>


  <section class="site-section border-bottom" id="team-section">
    <div class="container">
      <div class="row mb-5 justify-content-center">
        <div class="col-md-8 text-center">
          <h2 class="section-title mb-3" data-aos="fade-up" data-aos-delay="" style="color: #000;">L'equipe</h2>
          <!--<p class="lead" data-aos="fade-up" data-aos-delay="100">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus minima neque tempora reiciendis.</p>-->
        </div>
      </div>
      <div class="row">


        <div class="col-4 col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="">
          <div class="team-member">
            <div id="kari" class="white-popup mfp-hide text-black" >
              <img src="images/kari.jpg" alt="Image" class="img-fluid">
              <h3 class="font-weight-bold my-2">Karima Daoud</h3>
              <span class="position">41 ans, éducatrice spécialisée</span><br><br>
              <p align="justify" class="text-black">
                VILLIERS LE BEL, CHAQUE VOIX COMPTE…
                <br><br>
                Ensemble pour Villiers-Le-Bel, nous devons agir.
                <br>
                Pour mener à bien une politique faite de justice sociale, d’égalité, de solidarité.
                <br>
                Afin que chacun puisse trouver et prendre la place qui lui revient nous devons faire entendre notre voix.
                <br>
                Il nous faut prendre l’autre voie, celle des urnes pour exister et concrétiser notre action.
                <br>
                Unissons nos voix !
                <br>
                Ensemble, nous sommes « Villiers-Le-Bel »
                <br>
                Ensemble, nous sommes « Ma Voix Ma Ville
              </p>
            </div>
            <a href="#kari" class="mr-2 mb-2 open-popup-link"><img src="images/kari.jpg" alt="Image" class="img-fluid team-image"></a>
            <div class="p-3">
              <h3>Karima Daoud</h3>
              <span class="position">41 ans, éducatrice spécialisée</span>
            </div>
          </div>
        </div>

        <div class="col-4 col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="100">
          <div class="team-member">
            <div id="fatima" class="white-popup mfp-hide text-black" >
              <img src="images/fatima.jpg" alt="Image" class="img-fluid" style="max-height: 40%;">
              <h3 class="font-weight-bold my-2">Fatima BENALI</h3>
              <span class="position">37 ans, Chargée de formation</span><br><br>
              <p align="justify" class="text-black">
                EXIGEONS LE MEILLEUR POUR NOS ENFANTS…
                <br><br>
                Et travaillons à la qualité éducative.
                <br>
                Parce que je crois en cette jeunesse, je veux qu’elle bénéficie du meilleur et qu’elle ait le choix.
                <br>
                J’ai à cœur de proposer un parcours scolaire d’excellence qui permettra à chacun de s’épanouir.
                <br>
                Un parcours accessible à tous.
                <br>
                Prise de confiance en soi, autonomie, indépendance, bienveillance, lien social, plaisir, ouverture sur le monde seront les clés de ce succès.
                <br>
                Parce que la réussite de chacun est l’affaire de tous.
              </p>
            </div>
            <a href="#fatima" class="mr-2 mb-2 open-popup-link"><img src="images/fatima.jpg" alt="Image" class="img-fluid team-image"></a>
            <div class="p-3">
              <h3>Fatima Benali</h3>
              <span class="position">37 ans, chargée de formation</span>
            </div>
          </div>
        </div>

        <div class="col-4 col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="200">
          <div class="team-member">
            <div id="bankaly" class="white-popup mfp-hide text-black" >
              <img src="images/bankaly.jpg" alt="Image" class="img-fluid">
              <h3 class="font-weight-bold my-2">Bankaly Kaba</h3>
              <span class="position">41ans, Financier de marché</span><br><br>
              <p align="justify" class="text-black">
                GRANDIR A VILLIERS LE BEL EST UNE CHANCE …PAS UNE FATALITE
                <br><br>
                De Villiers-Le-Bel à Londres…
                <br>
                De Londres à Villiers-Le-Bel…
                <br>
                Pendant dix ans, j’ai quitté ma chère ville, ville dans laquelle j’ai grandi et qui m’a permis de vivre une belle expérience professionnelle à Londres.
                <br>
                Pourquoi ? Parce que grâce à Villiers le bel, j’ai acquis un courage, je me suis forgé un caractère fort, j’ai pris confiance en moi et appris la persévérance.
                <br>
                Aujourd’hui, de retour dans ma chère cité, j’ai envie de lui rendre ce qu’elle m’a donné et appris.
              </p>
            </div>
            <a href="#bankaly" class="mr-2 mb-2 open-popup-link"><img src="images/bankaly.jpg" alt="Image" class="img-fluid team-image"></a>
            <div class="p-3">
              <h3>Bankaly Kaba</h3>
              <span class="position">41ans, Financier de marché</span>
            </div>
          </div>
        </div>

        <div class="col-4 col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="300">
          <div class="team-member">
            <div id="christian" class="white-popup mfp-hide text-black" >
              <img src="images/christian.jpg" alt="Image" class="img-fluid">
              <h3 class="font-weight-bold my-2">Christian Nlet</h3>
              <span class="position">32 ans, cadre informatique</span><br><br>
              <p align="justify" class="text-black">
                VILLIERS LE BEL, VILLE A FORT POTENTIEL…
                <br>
                VILLIERS LE BEL, VILLE D’AVENIR…
                <br><br>
                Le sport comme vecteur de réussite sociale, de partage et de solidarité.
                <br>
                Parce que je crois aux valeurs que véhicule le sport et à ses nombreuses vertus, je suis convaincu que notre ville, accompagnée de ses nombreux talents peut rayonner.
                <br>
                J’ai eu l’honneur de présider pendant quatre années le club de basket-ball de Villiers-Le-Bel et à travers cette expérience, je n’ai pu que constater les effets positifs autour d’un projet sportif ambitieux.
                <br>
                Enfin, parce que Villiers le bel est au cœur de grands projets urbains, j’ai à cœur de représenter et de défendre au mieux les intérêts de notre ville afin que chacun puisse en bénéficier.
              </p>
            </div>
            <a href="#christian" class="mr-2 mb-2 open-popup-link"><img src="images/christian.jpg" alt="Image" class="img-fluid team-image"></a>
            <div class="p-3">
              <h3>Christian Nlet</h3>
              <span class="position">32 ans, cadre informatique</span>
            </div>
          </div>
        </div>

        <div class="col-4 col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="">
          <div class="team-member">
            <div id="cecilia" class="white-popup mfp-hide text-black" >
              <img src="images/cecilia.jpg" alt="Image" class="img-fluid">
              <h3 class="font-weight-bold my-2">Cécilia Toungsimo</h3>
              <span class="position">31 ans, juriste d’entreprise</span><br><br>
              <p align="justify" class="text-black">
                TOUJOURS PLUS DE JUSTICE ET D’EQUITE…
                <br><br>
                Depuis ma plus tendre enfance, je suis animée par les valeurs de solidarité et de justice ;
                <br>
                Valeurs qui m’ont été inculquées par mes parents.
                <br>
                J’ai toujours eu à cœur d’aider et d’accompagner les personnes qui en avaient besoin.
                <br>
                J’en ai d’ailleurs fait mon métier.
                <br>
                Parce que Villiers le bel doit rimer avec «justice et équité», il faut faire entendre notre voix.
                <br>
                Parce que notre ville compte, notre voix compte, alors VOTONS !
              </p>
            </div>
            <a href="#cecilia" class="mr-2 mb-2 open-popup-link"><img src="images/cecilia.jpg" alt="Image" class="img-fluid team-image"></a>
            <div class="p-3">
              <h3>Cécilia Toungsisimo</h3>
              <span class="position">31 ans, juriste d’entreprise</span>
            </div>
          </div>
        </div>

        <div class="col-4 col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="100">
          <div class="team-member">
            <div id="virginie" class="white-popup mfp-hide text-black" >
              <img src="images/virginie.jpg" alt="Image" class="img-fluid">
              <h3 class="font-weight-bold my-2">Virginie Saliba</h3>
              <span class="position">36 ans, fonctionnaire au Ministère de l’enseignement supérieur et de la recherche</span><br><br>
              <p align="justify" class="text-black">
                UNE EXPERIENCE HUMAINE…
                <br><br>
                La vie est faite de hauts et de bas, de périodes difficiles et d’autres plus favorables.
                <br>
                Ce qui nous permet de surmonter nos difficultés, c’est le « vivre ensemble ».
                <br>
                Villiers-Le-Bel est le parfait exemple de ce « Vivre ensemble », diversité des cultures, partage, solidarité, entraide font de notre ville, une ville riche.
                <br>
                J’ai grandi avec cette ouverture d’esprit et cette richesse humaine.
                <br>
                Je souhaite que nos enfants puissent bénéficier de ce même environnement, positif et bienveillant.
              </p>
            </div>
            <a href="#virginie" class="mr-2 mb-2 open-popup-link"><img src="images/virginie.jpg" alt="Image" class="img-fluid team-image"></a>
            <div class="p-3">
              <h3>Virginie Saliba</h3>
              <span class="position">36 ans, fonctionnaire </span>
            </div>
          </div>
        </div>

        <div class="col-4 col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="200">
          <div class="team-member">
            <div id="mariam" class="white-popup mfp-hide text-black" >
              <img src="images/mariam.jpg" alt="Image" class="img-fluid">
              <h3 class="font-weight-bold my-2">Mariam Harrat</h3>
              <span class="position">38 ans, mère de 3 enfants</span><br><br>
              <p align="justify" class="text-black">
                VILLIERS LE BEL, VILLE D’ACCUEIL …
                <br><br>
                Originaire de Sèvres dans les Hauts de seine, je vis à Villiers le bel depuis 11ans.
                <br>
                Ville que j’ai choisie.
                <br>
                Ville qui m’a accueilli et que j’ai adopté.
                <br>
                Ville dans laquelle je souhaite faire grandir mes enfants,
                <br>
                Mon souhait, le développement d’une politique jeunesse, parce que le bonheur des miens et des vôtres est ma priorité.
              </p>
            </div>
            <a href="#mariam" class="mr-2 mb-2 open-popup-link"><img src="images/mariam.jpg" alt="Image" class="img-fluid team-image"></a>
            <div class="p-3">
              <h3>Mariam Harrat</h3>
              <span class="position">38 ans, mère de 3 enfants</span>
            </div>
          </div>
        </div>



        <div class="col-4 col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="300">
          <div class="team-member">
            <div id="moh" class="white-popup mfp-hide text-black" >
              <img src="images/moh.jpg" alt="Image" class="img-fluid">
              <h3 class="font-weight-bold my-2">Mohamed Anajjar</h3>
              <span class="position">38 ans, Comptable</span><br><br>
              <p align="justify" class="text-black">
                AGIR POUR UN CADRE DE VIE…
                <br><br>
                Comme une plante qui a besoin d’eau, de lumière et d’un tuteur pour grandir et s’épanouir, nos enfants nécessitent les mêmes attentions.
                <br>
                Ensemble construisons leur futur, afin qu’ils puissent bouger, rire, apprendre et être réellement accompagnés dans un meilleur cadre de vie.
                <br>
                De l’espoir, du savoir, du respect et de la considération pour un meilleur avenir.
              </p>
            </div>
            <a href="#moh" class="mr-2 mb-2 open-popup-link"><img src="images/moh.jpg" alt="Image" class="img-fluid team-image"></a>
            <div class="p-3">
              <h3>Mohamed Anajjar</h3>
              <span class="position">38 ans, Comptable</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="site-section border-bottom" id="soutien-section">
    <div class="container">
      <div class="row mb-5 justify-content-center">
        <div class="col-md-8 text-center">
          <h2 class="section-title mb-3" data-aos="fade-up" data-aos-delay="" style="color: #000;">Les soutiens</h2>
          <!--<p class="lead" data-aos="fade-up" data-aos-delay="100">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus minima neque tempora reiciendis.</p>-->
        </div>
      </div>
      <div class="row">


        <div class="col-4 col-md-6 col-lg-3 mb-4" data-aos="fade-up" data-aos-delay="300">
          <div class="team-member">
            <div id="adama" class="white-popup mfp-hide text-black" >
              <img src="images/adama.jpeg" alt="Image" class="img-fluid">
              <h3 class="font-weight-bold my-2">Adama Kamara</h3>
              <span class="position">39 ans, Entrepreneur</span><br><br>
              <p align="justify" class="text-black">
                VERS PLUS DE JUSTICE SOCIALE ET UN CADRE DE VIE SECURITAIRE …
                <br><br>
                Parce que j’ai grandi à Villiers-Le-Bel, que je suis père de 3 enfants, je souhaite voir grandir nos enfants dans un environnement sain et sécuritaire parce que « J’aime la police ».
                <br>
                L’accès au sport, aux loisirs, à l’emploi, à la formation pour chacun, voilà ce pourquoi, je soutiens notre candidat Sori DEMBELE aux municipales de Mars 2020.
                <br>
                Ensemble concrétisons notre action.
              </p>
            </div>
            <a href="#adama" class="mr-2 mb-2 open-popup-link"><img src="images/adama.jpeg" alt="Image" class="img-fluid team-image"></a>
            <div class="p-3">
              <h3>Adama Kamara</h3>
              <span class="position">39 ans, Entrepreneur</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="site-section border-bottom bg-light" id="program-section">
    <div class="container">
      <div class="row mb-3">
        <div class="col-12 text-center" data-aos="fade">
          <h2 class="section-title my-3" style="color: #000;">Thématique</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-6 my-2 col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-black">Sport-culture </h5>
              <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
              <a href="#" class="btn btn-primary">En savoir plus</a>
            </div>
          </div>
        </div>
        <div class="col-6 my-2 col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-black">Sécurité</h5>
              <a href="#" class="btn btn-primary">En savoir plus</a>
            </div>
          </div>
        </div>
        <div class="col-6 my-2 col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-black">Cadre de vie</h5>
              <a href="#" class="btn btn-primary">En savoir plus</a>
            </div>
          </div>
        </div>
        <div class="col-6 my-2 col-md-4 ">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-black">Logement-Habitat</h5>
              <a href="#" class="btn btn-primary">En savoir plus</a>
            </div>
          </div>
        </div>
        <div class="col-6 my-2 col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-black">Education</h5>
              <a href="#" class="btn btn-primary">En savoir plus</a>
            </div>
          </div>
        </div>
        <div class="col-6 my-2 col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-black">Politique jeunesse</h5>
              <a href="#" class="btn btn-primary">En savoir plus</a>
            </div>
          </div>
        </div>
        <div class="col-6 my-2 col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-black">Actions sociales</h5>
              <a href="#" class="btn btn-primary">En savoir plus</a>
            </div>
          </div>
        </div>
        <div class="col-6 my-2 col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-black">Transports</h5>
              <a href="#" class="btn btn-primary">En savoir plus</a>
            </div>
          </div>
        </div>
        <div class="col-6 my-2 col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-black">Politique environnementale et écologique</h5>
              <a href="#" class="btn btn-primary">En savoir plus</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>



  <section class="site-section" id="portfolio-section">


    <div class="container">

      <div class="row mb-3">
        <div class="col-12 text-center" data-aos="fade">
          <h2 class="section-title mb-3" style="color: #000;">Galerie</h2>
        </div>
      </div>

      <div class="row justify-content-center mb-5" data-aos="fade-up">
        <div id="filters" class="filters text-center button-group col-md-7">
          <button class="btn btn-primary active" data-filter=".web">Rentrée politique</button>
          <button class="btn btn-primary active" data-filter=".maraude_zac">Maraude au quartier de la Zac/Derrière les murs</button>
          <!--<button class="btn btn-primary" data-filter=".web">Web</button>
          <button class="btn btn-primary" data-filter=".design">Design</button>
          <button class="btn btn-primary" data-filter=".brand">Brand</button>-->
        </div>
      </div>

      <div id="posts" class="row no-gutter">
        <div class="item web col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
          <a href="images/1.jpeg" class="item-wrap fancybox" data-fancybox="gallery2">
            <span class="icon-search2"></span>
            <img class="img-fluid" src="images/1.jpeg">
          </a>
        </div>
        <div class="item web col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
          <a href="images/2.jpeg" class="item-wrap fancybox" data-fancybox="gallery2">
            <span class="icon-search2"></span>
            <img class="img-fluid" src="images/2.jpeg">
          </a>
        </div>

        <div class="item web col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
          <a href="images/3.jpeg" class="item-wrap fancybox" data-fancybox="gallery2">
            <span class="icon-search2"></span>
            <img class="img-fluid" src="images/3.jpeg">
          </a>
        </div>

        <div class="item web col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">

          <a href="images/4.jpeg" class="item-wrap fancybox" data-fancybox="gallery2">
            <span class="icon-search2"></span>
            <img class="img-fluid" src="images/4.jpeg">
          </a>

        </div>

        <div class="item web col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
          <a href="images/6.jpeg" class="item-wrap fancybox" data-fancybox="gallery2">
            <span class="icon-search2"></span>
            <img class="img-fluid" src="images/6.jpeg">
          </a>
        </div>

        <div class="item web col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
          <a href="images/7.jpeg" class="item-wrap fancybox" data-fancybox="gallery2">
            <span class="icon-search2"></span>
            <img class="img-fluid" src="images/7.jpeg">
          </a>
        </div>

        <div class="item web col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
          <a href="images/8.jpeg" class="item-wrap fancybox" data-fancybox="gallery2">
            <span class="icon-search2"></span>
            <img class="img-fluid" src="images/8.jpeg">
          </a>
        </div>



        <div class="item web col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
          <a href="images/10.jpeg" class="item-wrap fancybox" data-fancybox="gallery2">
            <span class="icon-search2"></span>
            <img class="img-fluid" src="images/10.jpeg">
          </a>
        </div>

        <div class="item web col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
          <a href="images/12.jpeg" class="item-wrap fancybox" data-fancybox="gallery2">
            <span class="icon-search2"></span>
            <img class="img-fluid" src="images/12.jpeg">
          </a>
        </div>



        <div class="item maraude_zac col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
          <a href="images/ma_zac1.jpeg" class="item-wrap fancybox" data-fancybox="maraude_zac">
            <span class="icon-search2"></span>
            <img class="img-fluid" src="images/ma_zac1.jpeg">
          </a>
        </div>
        <div class="item maraude_zac col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
          <a href="images/ma_zac3.jpeg" class="item-wrap fancybox" data-fancybox="maraude_zac">
            <span class="icon-search2"></span>
            <img class="img-fluid" src="images/ma_zac3.jpeg">
          </a>
        </div>
        <div class="item maraude_zac col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
          <a href="images/ma_zac3.jpeg" class="item-wrap fancybox" data-fancybox="maraude_zac">
            <span class="icon-search2"></span>
            <img class="img-fluid" src="images/ma_zac4.jpeg">
          </a>
        </div>
        <div class="item maraude_zac col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
          <a href="images/ma_zac4.jpeg" class="item-wrap fancybox" data-fancybox="maraude_zac">
            <span class="icon-search2"></span>
            <img class="img-fluid" src="images/ma_zac5.jpeg">
          </a>
        </div>

      </div>
    </div>

  </section>







  <!--
  <section class="site-section border-bottom bg-light" id="services-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-12 text-center" data-aos="fade">
          <h2 class="section-title mb-3">Our Services</h2>
        </div>
      </div>
      <div class="row align-items-stretch">
        <div class="col-4   col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
          <div class="unit-4">
            <div class="unit-4-icon mr-4"><span class="text-primary flaticon-startup"></span></div>
            <div>
              <h3>Business Consulting</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis molestiae vitae eligendi at.</p>
              <p><a href="#">Learn More</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="unit-4">
            <div class="unit-4-icon mr-4"><span class="text-primary flaticon-graphic-design"></span></div>
            <div>
              <h3>Market Analysis</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis molestiae vitae eligendi at.</p>
              <p><a href="#">Learn More</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="200">
          <div class="unit-4">
            <div class="unit-4-icon mr-4"><span class="text-primary flaticon-settings"></span></div>
            <div>
              <h3>User Monitoring</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis molestiae vitae eligendi at.</p>
              <p><a href="#">Learn More</a></p>
            </div>
          </div>
        </div>


        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="">
          <div class="unit-4">
            <div class="unit-4-icon mr-4"><span class="text-primary flaticon-idea"></span></div>
            <div>
              <h3>Insurance Consulting</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis molestiae vitae eligendi at.</p>
              <p><a href="#">Learn More</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="unit-4">
            <div class="unit-4-icon mr-4"><span class="text-primary flaticon-smartphone"></span></div>
            <div>
              <h3>Financial Investment</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis molestiae vitae eligendi at.</p>
              <p><a href="#">Learn More</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="200">
          <div class="unit-4">
            <div class="unit-4-icon mr-4"><span class="text-primary flaticon-head"></span></div>
            <div>
              <h3>Financial Management</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis molestiae vitae eligendi at.</p>
              <p><a href="#">Learn More</a></p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="site-section testimonial-wrap" id="testimonials-section" data-aos="fade">
    <div class="container">
      <div class="row mb-5">
        <div class="col-12 text-center">
          <h2 class="section-title mb-3">Testimonials</h2>
        </div>
      </div>
    </div>
    <div class="slide-one-item home-slider owl-carousel">
        <div>
          <div class="testimonial">

            <blockquote class="mb-5">
              <p>&ldquo;Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae illum eligendi incidunt consequatur. Amet dolores excepturi earum unde iusto.&rdquo;</p>
            </blockquote>

            <figure class="mb-4 d-flex align-items-center justify-content-center">
              <div><img src="images/person_3.jpg" alt="Image" class="w-50 img-fluid mb-3"></div>
              <p>John Smith</p>
            </figure>
          </div>
        </div>
        <div>
          <div class="testimonial">

            <blockquote class="mb-5">
              <p>&ldquo;Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae illum eligendi incidunt consequatur. Amet dolores excepturi earum unde iusto.&rdquo;</p>
            </blockquote>
            <figure class="mb-4 d-flex align-items-center justify-content-center">
              <div><img src="images/person_2.jpg" alt="Image" class="w-50 img-fluid mb-3"></div>
              <p>Christine Aguilar</p>
            </figure>

          </div>
        </div>

        <div>
          <div class="testimonial">

            <blockquote class="mb-5">
              <p>&ldquo;Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae illum eligendi incidunt consequatur. Amet dolores excepturi earum unde iusto.&rdquo;</p>
            </blockquote>
            <figure class="mb-4 d-flex align-items-center justify-content-center">
              <div><img src="images/person_4.jpg" alt="Image" class="w-50 img-fluid mb-3"></div>
              <p>Robert Spears</p>
            </figure>


          </div>
        </div>

        <div>
          <div class="testimonial">

            <blockquote class="mb-5">
              <p>&ldquo;Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde reprehenderit aperiam quaerat fugiat repudiandae explicabo animi minima fuga beatae illum eligendi incidunt consequatur. Amet dolores excepturi earum unde iusto.&rdquo;</p>
            </blockquote>
            <figure class="mb-4 d-flex align-items-center justify-content-center">
              <div><img src="images/person_4.jpg" alt="Image" class="w-50 img-fluid mb-3"></div>
              <p>Bruce Rogers</p>
            </figure>

          </div>
        </div>

      </div>
  </section>

  <section class="site-section bg-light" id="pricing-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-12 text-center" data-aos="fade-up">
          <h2 class="section-title mb-3">Pricing</h2>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col-md-6 mb-4 mb-lg-0 col-lg-4" data-aos="fade-up" data-aos-delay="">
          <div class="pricing">
            <h3 class="text-center text-black">Basic</h3>
            <div class="price text-center mb-4 ">
              <span><span>$47</span> / year</span>
            </div>
            <ul class="list-unstyled ul-check success mb-5">

              <li>Officia quaerat eaque neque</li>
              <li>Possimus aut consequuntur incidunt</li>
              <li class="remove">Lorem ipsum dolor sit amet</li>
              <li class="remove">Consectetur adipisicing elit</li>
              <li class="remove">Dolorum esse odio quas architecto sint</li>
            </ul>
            <p class="text-center">
              <a href="#" class="btn btn-secondary">Buy Now</a>
            </p>
          </div>
        </div>

        <div class="col-md-6 mb-4 mb-lg-0 col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="pricing">
            <h3 class="text-center text-black">Premium</h3>
            <div class="price text-center mb-4 ">
              <span><span>$200</span> / year</span>
            </div>
            <ul class="list-unstyled ul-check success mb-5">

              <li>Officia quaerat eaque neque</li>
              <li>Possimus aut consequuntur incidunt</li>
              <li>Lorem ipsum dolor sit amet</li>
              <li>Consectetur adipisicing elit</li>
              <li class="remove">Dolorum esse odio quas architecto sint</li>
            </ul>
            <p class="text-center">
              <a href="#" class="btn btn-primary">Buy Now</a>
            </p>
          </div>
        </div>

        <div class="col-md-6 mb-4 mb-lg-0 col-lg-4" data-aos="fade-up" data-aos-delay="200">
          <div class="pricing">
            <h3 class="text-center text-black">Professional</h3>
            <div class="price text-center mb-4 ">
              <span><span>$750</span> / year</span>
            </div>
            <ul class="list-unstyled ul-check success mb-5">

              <li>Officia quaerat eaque neque</li>
              <li>Possimus aut consequuntur incidunt</li>
              <li>Lorem ipsum dolor sit amet</li>
              <li>Consectetur adipisicing elit</li>
              <li>Dolorum esse odio quas architecto sint</li>
            </ul>
            <p class="text-center">
              <a href="#" class="btn btn-secondary">Buy Now</a>
            </p>
          </div>
        </div>
      </div>

      <div class="row site-section" id="faq-section">
        <div class="col-12 text-center" data-aos="fade">
          <h2 class="section-title">Frequently Ask Questions</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">

          <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
          <h3 class="text-black h5 mb-4">Can I accept both Paypal and Stripe?</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam assumenda eum blanditiis perferendis.</p>
          </div>

          <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
            <h3 class="text-black h5 mb-4">What available is refund period?</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam assumenda eum blanditiis perferendis.</p>
          </div>

          <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
          <h3 class="text-black h5 mb-4">Can I accept both Paypal and Stripe?</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam assumenda eum blanditiis perferendis.</p>
          </div>

          <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
            <h3 class="text-black h5 mb-4">What available is refund period?</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam assumenda eum blanditiis perferendis.</p>
          </div>
        </div>
        <div class="col-lg-6">

          <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
            <h3 class="text-black h5 mb-4">Where are you from?</h3>
            <p>Voluptatum nobis obcaecati perferendis dolor totam unde dolores quod maxime corporis officia et. Distinctio assumenda minima maiores.</p>
          </div>

          <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
            <h3 class="text-black h5 mb-4">What is your opening time?</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam assumenda eum blanditiis perferendis.</p>
          </div>

          <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
          <h3 class="text-black h5 mb-4">Can I accept both Paypal and Stripe?</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam assumenda eum blanditiis perferendis.</p>
          </div>

          <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
            <h3 class="text-black h5 mb-4">What available is refund period?</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam assumenda eum blanditiis perferendis.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="site-section" id="about-section">
    <div class="container">
      <div class="row mb-5">

        <div class="col-lg-6 ml-auto mb-5 order-1 order-lg-2" data-aos="fade" data-aos="fade-up" data-aos-delay="">
          <img src="images/hero_1.jpg" alt="Image" class="img-fluid rounded">
        </div>
        <div class="col-lg-6 order-2 order-lg-1" data-aos="fade">

          <div class="row">



            <div class="col-md-12 mb-md-5 mb-0 col-lg-6" data-aos="fade-up" data-aos-delay="">
              <div class="unit-4">
                <div class="unit-4-icon mr-4 mb-3"><span class="text-primary flaticon-head"></span></div>
                <div>
                  <h3>Web &amp; Mobile Specialties</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis consect.</p>
                  <p class="mb-0"><a href="#">Learn More</a></p>
                </div>
              </div>
            </div>
            <div class="col-md-12 mb-md-5 mb-0 col-lg-6" data-aos="fade-up" data-aos-delay="100">
              <div class="unit-4">
                <div class="unit-4-icon mr-4 mb-3"><span class="text-primary flaticon-smartphone"></span></div>
                <div>
                  <h3>Intuitive Thinkers</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis.</p>
                  <p class="mb-0"><a href="#">Learn More</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>




  <section class="site-section" id="blog-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-12 text-center" data-aos="fade">
          <h2 class="section-title mb-3">Our Blog</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="">
          <div class="h-entry">
            <a href="single.html">
              <img src="images/post_1.jpg" alt="Image" class="img-fluid">
            </a>
            <h2 class="font-size-regular"><a href="#">Repudiandae Quisquam Eaque Dolore</a></h2>
            <div class="meta mb-4">Ham Brook <span class="mx-2">&bullet;</span> Jan 18, 2019<span class="mx-2">&bullet;</span> <a href="#">News</a></div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus eligendi nobis ea maiores sapiente veritatis reprehenderit suscipit quaerat rerum voluptatibus a eius.</p>
            <p><a href="#">Continue Reading...</a></p>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="h-entry">
            <a href="single.html">
              <img src="images/post_2.jpg" alt="Image" class="img-fluid">
            </a>
            <h2 class="font-size-regular"><a href="#">Repudiandae Quisquam Eaque Dolore</a></h2>
            <div class="meta mb-4">James Phelps <span class="mx-2">&bullet;</span> Jan 18, 2019<span class="mx-2">&bullet;</span> <a href="#">News</a></div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus eligendi nobis ea maiores sapiente veritatis reprehenderit suscipit quaerat rerum voluptatibus a eius.</p>
            <p><a href="#">Continue Reading...</a></p>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="200">
          <div class="h-entry">
            <a href="single.html">
              <img src="images/post_3.jpg" alt="Image" class="img-fluid">
            </a>
            <h2 class="font-size-regular"><a href="#">Repudiandae Quisquam Eaque Dolore</a></h2>
            <div class="meta mb-4">James Phelps <span class="mx-2">&bullet;</span> Jan 18, 2019<span class="mx-2">&bullet;</span> <a href="#">News</a></div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus eligendi nobis ea maiores sapiente veritatis reprehenderit suscipit quaerat rerum voluptatibus a eius.</p>
            <p><a href="#">Continue Reading...</a></p>
          </div>
        </div>

      </div>
    </div>
  </section>
  -->



  <section class="site-section bg-light" id="contact-section" data-aos="fade">
    <div class="container">
      <div class="row mb-5">
        <div class="col-12 text-center">
          <h2 class="section-title mb-3" style="color: #000;">Nous contacter</h2>
        </div>
      </div>
      <div class="row mb-5">



        <div class="col-md-4 text-center">
          <p class="mb-0">
            <span class="icon-mail_outline d-block h4 text-primary"></span>
            <a href="#">contact@soridembele.fr</a>
          </p>
        </div>
        <div class="col-md-4 text-center">
          <p class="mb-4">
            <span class="icon-phone d-block h4 text-primary"></span>
            <a href="#">06 30 08 68 14</a>
          </p>
        </div>
        <div class="col-md-4 text-center">
          <p class="mb-0">
            <span class="icon-mail_outline d-block h4 text-primary"></span>
            <a href="#">contact@mavoixmaville.fr</a>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mb-5">



          <form action="#" class="p-5 bg-white">

            <h2 class="h4 text-black mb-5">Nous contacter</h2>

            <div class="row form-group">
              <div class="col-md-6 mb-3 mb-md-0">
                <label class="text-black" for="fname">Prenom</label>
                <input type="text" id="fname" class="form-control">
              </div>
              <div class="col-md-6">
                <label class="text-black" for="lname">Nom</label>
                <input type="text" id="lname" class="form-control">
              </div>
            </div>

            <div class="row form-group">

              <div class="col-md-12">
                <label class="text-black" for="email">Email</label>
                <input type="email" id="email" class="form-control">
              </div>
            </div>

            <div class="row form-group">

              <div class="col-md-12">
                <label class="text-black" for="subject">Sujet</label>
                <input type="subject" id="subject" class="form-control">
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12">
                <label class="text-black" for="message">Message</label>
                <textarea name="message" id="message" cols="30" rows="7" class="form-control" placeholder=""></textarea>
              </div>
            </div>

            <div class="row form-group">
              <div class="col-md-12">
                <input type="submit" value="Envoyer..." class="btn btn-primary btn-md text-white">
              </div>
            </div>


          </form>
        </div>

      </div>
    </div>
  </section>



  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-5">
              <h2 class="footer-heading mb-4">Qui sommes nous</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque facere laudantium magnam voluptatum autem. Amet aliquid nesciunt veritatis aliquam.</p>
            </div>
            <div class="col-md-3 ml-auto">
              <h2 class="footer-heading mb-4">Ma voix, ma ville</h2>
              <ul class="list-unstyled">
                <li><a href="#about-section" class="smoothscroll">Qui sommes nous</a></li>
                <li><a href="#services-section" class="smoothscroll">L'equipe</a></li>
                <li><a href="#testimonials-section" class="smoothscroll">Gallerie</a></li>
                <li><a href="#contact-section" class="smoothscroll">Nous contacter</a></li>
              </ul>
            </div>
            <div class="col-md-3">
              <h2 class="footer-heading mb-4">Suivez nous</h2>
              <a href="https://www.facebook.com/Ma-Voix-Ma-Ville-105488487580714" class="pl-0 pr-3" target="blank"><span class="icon-facebook"></span></a>
              <!-- <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a> -->
              <a href="https://www.instagram.com/mavoix_maville/?hl=fr" class="pl-3 pr-3" target="blank"><span class="icon-instagram"></span></a>
              <!-- <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a> -->
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h2 class="footer-heading mb-4">Abonnez-vous à la newsletter</h2>
          <form action="#" method="post" class="footer-subscribe">
            <div class="input-group mb-3">
              <input type="text" class="form-control border-secondary text-white bg-transparent" placeholder="Email" aria-label="Enter Email" aria-describedby="button-addon2">
              <div class="input-group-append">
                <button class="btn btn-primary text-black" type="button" id="button-addon2">Envoyer</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row pt-5 mt-5 text-center">
        <div class="col-md-12">
          <div class="border-top pt-2">
            <p>

            </p>

          </div>
        </div>

      </div>
    </div>
  </footer>

</div> <!-- .site-wrap -->

<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.countdown.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/aos.js"></script>
<script src="js/jquery.fancybox.min.js"></script>
<script src="js/jquery.sticky.js"></script>
<script src="js/isotope.pkgd.min.js"></script>


<script src="js/main.js"></script>



</body>
</html>